flask
twilio
python-dotenv
openai
pillow
pandas
openpyxl
streamlit
requests
xlrd
qrcode
gunicorn
gspread
google-auth
sqlalchemy
psycopg2-binary
boto3
pandas
openpyxl
xlrd==2.0.1
lxml==5.4.0
lxml
matplotlib